/client/Output

# unreal auto generates these Content folders, we can ignore them until they actually get used
*/*/Content/Collections
*/*/Content/Developers
*/*/Build
*/*/DerivedDataCache
*/*/Intermediate
*/*/Saved
*/*/WindowsNoEditor

/server/pseudo-multi.pem
/server/server
/server/target
