[submodule "client/RE-UE4SS"]
	path = client/RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS.git
[submodule "client/BlueFireMultiplayerMod/deps/wswrap"]
	path = client/BlueFireMultiplayerMod/deps/wswrap
	url = https://github.com/black-sliver/wswrap
[submodule "client/BlueFireMultiplayerMod/deps/websocketpp"]
	path = client/BlueFireMultiplayerMod/deps/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "client/BlueFireMultiplayerMod/deps/json"]
	path = client/BlueFireMultiplayerMod/deps/json
	url = https://github.com/nlohmann/json
[submodule "client/BlueFireMultiplayerMod/deps/tomlplusplus"]
	path = client/BlueFireMultiplayerMod/deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
